*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.avro filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
lancedb/default-community-full_content.lance/data/b0e0ad00-eba8-4aa1-a717-9fe9d35f6b30.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-entity-description.lance/data/1c76cae4-abd8-4dc6-b47a-1d8bc2ff2116.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-entity-description.lance/data/844f21f9-0c7e-4c08-9041-3992d2293d7f.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-entity-description.lance/data/f5e0d323-f11b-4886-84e8-db738ac03deb.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-text_unit-text.lance/data/683c0ac8-6c63-4af7-a233-5f8b6a1488c6.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-text_unit-text.lance/data/9a79d848-8226-49b7-af7b-24acf68c530d.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-community-full_content.lance/data/975df9e2-ab4e-4cd2-b8cd-af7c512aa521.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-entity-description.lance/data/a0f30b1a-a648-4ce1-a650-8ef045438e15.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-entity-description.lance/data/f7254554-79b1-49a4-84fa-60cba7a39494.lance filter=lfs diff=lfs merge=lfs -text
lancedb/default-text_unit-text.lance/data/edaf9356-3f24-489e-8a47-a3f385164b8e.lance filter=lfs diff=lfs merge=lfs -text
